section.product.product_blue
    .container
        .product__body 
            a(href="#")
                img.product__image(src="/img/dentinale_product.png", alt="#")
            .product-card.product__card
                .product-card__body 
                    .product-card__heading при коликах
                    .product-card__name Windi
                    .product-card__description Газоотводная трубочка для скорой помощи при коликах у новорождённых.
                    form(action="#")
                        input.about-button.product__about-button(type="submit" value="Подробнее")

                    