section.product.product_green
    .container
        .product__body 
            a(href="#")
                img.product__image(src="/img/dentinale_product.png", alt="#")
            .product-card.product__card
                .product-card__body 
                    .product-card__heading при прорезании зубов
                    .product-card__name Dentinale natura
                    .product-card__description Детский гель для легкого прорезывания зубов. Без анальгетиков и анестетиков.
                    form(action="#")
                        input.about-button.product__about-button(type="submit" value="Подробнее")

                    